@model SlotCarsGo_Server.Models.ViewModels.GarageViewModel
<style>
    table#assets-data-table tr:nth-child(even) {
        background-color: #FFF4D6;
    }
</style>
<table id="assets-data-table" class="table table-striped table-bordered table-condensed" style="width:100%">
    <thead>
        <tr>
            <th bgcolor="#FFD968">Rank</th>
            <th bgcolor="#FFD968">Lap Time</th>
            <th bgcolor="#FFD968">Driver</th>
            <th bgcolor="#FFD968">Off Pace</th>
        </tr>
    </thead>
    @{ int playerRank = 1;
        TimeSpan emptyTimeSpan = new TimeSpan();
        TimeSpan bestLap = emptyTimeSpan;
        TimeSpan diff = emptyTimeSpan;
        foreach (var lapTime in @Model.BestLapTimesForCar)
        {
            if (bestLap == emptyTimeSpan)
            {
                bestLap = lapTime.LapTime.Time;
            }
            else
            {
                diff = lapTime.LapTime.Time - bestLap;
            }
            <tr>
                <td>@playerRank</td>
                <td>@lapTime.LapTime.Time.ToString(@"m\:ss\.fff")</td>
                <td>@lapTime.ApplicationUser.UserName</td>
                <td>@diff.ToString(@"ss\.fff")</td>
            </tr>
            playerRank++;
        }
    }
</table>




