@model SlotCarsGo_Server.Models.ViewModels.CreateCarViewModel
@using (Html.BeginForm("CreateCar", "Garage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Make, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Make, new { @class = "form-control", style="max-width=100%;" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Model, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Model, new { @class = "form-control", style="max-width=100%;" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Image, new { @class = "col-md-3 control-label"})
        <div class="col-md-9">
            <input type="file" name="file" style = "width:125px;overflow:hidden" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TrackId, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.DropDownListFor(m => m.TrackId, Model.MyTracksListItems, "-- Select Track --", new { @class = "form-control", style="max-width=100%;" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-12">
            <input type="submit" class="btn btn-primary btn-lg" value="Add" />
        </div>
    </div>
}
