@model SlotCarsGo_Server.Models.ViewModels.GarageViewModel

@if (Model.SelectedCar == null)
{
    <div class="jumbotron" style="background-color:#FFD968">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <img src="~/Content/Images/SoftCarPostcard_400.png" style="max-width:100%; height:auto;margin-left:auto;margin-right:auto;display:block;" />
            </div>
            <div class="col-md-12 col-lg-6">
                <h1 style="color:white;">Add a Car</h1>
                @Html.Partial("CreateCar", Model.CreateCarViewModel)
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron" style="background-color:#FFD968">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <img style="display:inline;" width="175" height="175" src="~/Content/Images/SoftTrackPostcard_400.png" alt="logo" />
                    <h1 style="display: inline; color:white;"> Garage</h1>
                </div>
                <br/>
                <div class="row">
                    @Html.Partial("ChangeTrackDropDown", Model.ChangeTrackViewModel)
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <h2 style="font-weight:bold;color:white;">@Model.SelectedTrack.Name</h2>
                <p>Best Lap: @Model.TrackRecord, held by @Model.TrackRecordHolder</p>
                @Html.Partial("TrackData", Model)
            </div>
        </div>
    </div>
    <div class="jumbotron" style="background-color:#FFE599">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <h2 style="font-weight:bold">@Model.SelectedCar.Name</h2>
                <p>Best Lap: @Model.SelectedCar.TrackRecord, held by @Model.SelectedCar.RecordHolder</p>
                <img src="~/Content/Images/Cars/@Model.SelectedCar.ImageName" style="width:250px; height:auto;margin-left:auto;margin-right:auto;display:block;" />
                <br />
                <div class="row">
                    @Html.Partial("ChangeCarDropDown", Model.ChangeCarViewModel)
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
            @if (Model.BestLapTimesForCar.Count > 0)
            {
                <h3 style="font-weight:bold">Driver Ranking for @Model.SelectedCar.Name</h3>
                @Html.Partial("CarData", Model)
            }
            else
            {
                <h3>No laptimes recorded yet.</h3>
            }
            </div>
        </div>
    </div>
    <div class="jumbotron" style="background-color:#FFF4D6">
        <div class="row">
            <div class="col-md-4">
                <h2 style="font-weight:bold">Add a Car</h2>
                <p>Add a new car to the garage.</p>
                @Html.Partial("CreateCar", Model.CreateCarViewModel)
                <br />
            </div>
            <div class="col-md-4">
                <h2 style="font-weight:bold">Edit a Car</h2>
                <p>Edit a car in the garage.</p>
                @Html.Partial("EditCar", Model.EditCarViewModel)
                <br />
            </div>
            <div class="col-md-4">
                <h2 style="font-weight:bold">Remove a Car</h2>
                <p>Remove a lost or broken car so that it cannot be selected for new races. Does not delete the cars stats.</p>
                @Html.Partial("DeleteCar", Model.DeleteCarViewModel)
            </div>
        </div>
    </div>
}
