@model SlotCarsGo_Server.Models.ViewModels.GarageViewModel
<style>
    table#assets-data-table tr:nth-child(even) {
        background-color: #FFF4D6;
    }

</style>
<table id="assets-data-table" class="table table-striped table-bordered table-condensed" style="width:100%">
    <thead>
        <tr>
            <th bgcolor="#FFE599" style="font-size:small">Rank</th>
            <th bgcolor="#FFE599" style="font-size:small">Lap Time</th>
            <th bgcolor="#FFE599" style="font-size:small">Car</th>
            <th bgcolor="#FFE599" style="font-size:small">Driver</th>
        </tr>
    </thead>
    <tbody>
        @{ int carRank = 1;
            foreach (var car in @Model.CarsInGarage)
            {
                <tr>
                    <td valign="middle" style="font-size:small">@carRank</td>
                    <td valign="middle" style="font-size:small">@car.TrackRecord.ToString(@"m\:ss\.fff")</td>
                    <td valign="middle" style="font-size:small">@car.Name</td>
                    <td valign="middle" style="font-size:small">@car.RecordHolder</td>
                </tr>
                carRank++;
            }
        }
    </tbody>
</table>        