

<div class="jumbotron" style="background-color:#FFD968">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <img src="~/Content/Images/SoftTrackPostcard_400.png" style="max-width:100%; height:auto;margin-left:auto;margin-right:auto;display:block;" />
        </div>
        <div class="col-xs-12 col-lg-6">
            <h1 style="color:white;">Race History</h1>
            <p>New feature - coming soon!</p>
        </div>
    </div>
</div>
<!--
/*
@if (Model.LastSession != null)
{
    <div class="col-md-4">
        <h2>Your Last Race</h2>
        <h3>@Model.LastSession.RaceType.Name</h3>
        <p>Finished: @Model.LastSession.EndTime</p>
        <p>Car: @Model.LastDriverResult.Car.Name</p>
        <p>Position: @Model.LastDriverResult.Position</p>
        <p>Best Lap: @Model.LastDriverResult.BestLapTime</p>
        <p>Total Time: @Model.LastDriverResult.TotalTime</p>
        <p>Off Pace: @Model.LastDriverResult.TimeOffPace</p>
        <br />
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "History", Request.Url.Scheme)">
                <span>View Last Session</span>
            </a>
        </p>
    </div>
}
*/
-->
