@model SlotCarsGo_Server.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="jumbotron" style="background-color:#FFD968">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <img src="~/Content/Images/SoftTrackPostcard_400.png" style="max-width:100%; height:auto;margin-left:auto;margin-right:auto;display:block;" />
        </div>
        <div class="col-xs-12 col-lg-6">
            <h2>@ViewBag.Title.</h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Image, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        <input type="file" name="file" />
                    </div>
                </div>
                <div class="form-group">
                    <a href="#password-guide" data-toggle="collapse" class="col-md-offset-3">Password Guidelines</a>
                    <div id="password-guide" class="panel-collapse collapse col-md-offset-3">
                        <p>Passwords must contain:</p>
                        <ul>
                            <li>At least 6 characters</li>
                            <li>At least 1 lowercase (a-z)</li>
                            <li>At least 1 digit (0-9)</li>
                            <li>At least 1 uppercase (A-Z)</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-12">
                        <input type="submit" class="btn btn-primary btn-lg" value="Register" />
                    </div>
                </div>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>


