
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<!--
/*
@if (Model.LastSession != null)
{
    <div class="col-md-4">
        <h2>Your Last Race</h2>
        <h3>@Model.LastSession.RaceType.Name</h3>
        <p>Finished: @Model.LastSession.EndTime</p>
        <p>Car: @Model.LastDriverResult.Car.Name</p>
        <p>Position: @Model.LastDriverResult.Position</p>
        <p>Best Lap: @Model.LastDriverResult.BestLapTime</p>
        <p>Total Time: @Model.LastDriverResult.TotalTime</p>
        <p>Off Pace: @Model.LastDriverResult.TimeOffPace</p>
        <br />
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Session", Request.Url.Scheme)">
                <span>View Last Session</span>
            </a>
        </p>
    </div>
}
*/
-->
