@model SlotCarsGo_Server.Models.ViewModels.HomeViewModel
<div class="jumbotron" style="background-color:#FFD968">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <img src="~/Content/Images/SoftCarPostcard_400.png" style="width:400px; height:400px;margin-left:auto;margin-right:auto;display:block;" />
        </div>
        <div class="col-xs-12 col-lg-6">
            <h1 style="color:white">Join a Race</h1>
            <p>Select your configuration to get on the starting grid.</p>
            @using (Html.BeginForm("JoinRace", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedTrackId, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        @Html.DropDownListFor(m => m.SelectedTrackId, Model.MyTracksListItems, "-- Select Track --", new { @class = "form-control", style = "width:300px" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedCarId, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        @Html.DropDownListFor(m => m.SelectedCarId, Model.AvailableCarsListItems, "-- Select Car --", new { @class = "form-control", style = "width:300px" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedControllerId, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        @Html.DropDownListFor(m => m.SelectedControllerId, Model.AvailableControllersListItems, "-- Select Controller --", new { @class = "form-control", style = "width:300px" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-xs-8">
                        <input type="submit" class="btn btn-primary btn-lg" value="Join" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Race History</h2>
        <p>Analyse race results and laptimes for all previous race sessions at any of your tracks.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Session", Request.Url.Scheme)">
                <span>View History</span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage Garage</h2>
        <p>Add a new car or view the best lap times for cars in your garage.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Garage", Request.Url.Scheme)">
                <span>View Garage</span>
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Join a New Track</h2>
        <p>Register with a different track to join other races.</p>
        <br/>
        <p>
            <a class="btn btn-primary btn-lg" href="@Url.Action("RegisterTrack", "Home", Request.Url.Scheme)">
                <span>Add Track</span>
            </a>
        </p>
    </div>
</div>
